
<link rel="stylesheet" type="text/css" href="app/view/mine/accountinformation/accountinformation.css"/>

<header>
	<a ui-sref="back1"><span><</span></a>
	<div>账户信息</div>
</header>

<main class="main1">
	<ul>
		<li>
			<span>头像</span>
			<span>
				<span></span>
				<span>></span>
			</span>
		</li>
		<li>
			<span>用户名</span>
			<span>{{pro.username}}</span>
		</li>
		<li>
			<span>收货地址</span>
			<span>></span>
		</li>
	</ul>
</main>

<div class="div1">账号绑定</div>
<div class="div2">
	<span></span>
	<span>手机</span>
	<span>{{pro.mobile}} ></span>
</div>
<div class="div3">安全设置</div>
<div class="div4">
	<span>登录密码</span>
	<span>修改 ></span>
</div>

<div class="div5">
	退出登录
</div>





