@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
html{
	font-size: 100px;
}
header{
	width: 100%;
	height: .44rem;
	background: #3190e8;
	font-size: .17rem;
	color: #fff;
	top: 0;
	left: 0;
	z-index: 100;
	position: fixed;
}
header a span{
	display: inline-block;
	line-height: .44rem;
	position: absolute;
	top: 0;
	left: .18rem;
	color: white;
	transform:scaleX(0.7) scaleY(1.5);  
}
header div{
	text-align: center;
	line-height: .44rem;
}
.nav{
	background: white;
	width:100%;
	height:.4rem;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	font-size: .12rem;
	top: .43rem;
	color: #666666;
	align-items: center;
	position: fixed;
	z-index: 99;
}
.nav section{
	 flex-grow: 1;
	 text-align: center;
}

.nav section:nth-child(2){
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
/*main>ul>li .newstore{
	position: absolute;
	background: #26ce61;
	height: .32rem;
	width: .32rem;
	left: -.08rem;
	top: -.17rem;
	color: white;
	transform: rotate(-45deg) scale(.85);
}*/
main{
	font-size: .12rem;
	margin-top: .83rem;
}
main>ul{
	width: 100%;
	height: .91rem;
	border-bottom: 1px solid #eee;
	position: relative;
}
main>ul>li{
	position: relative;
}
main>ul>li:nth-child(2) .pinpai{
	background: #ffd930;
	display: inline-block;
	height: .14rem;
	width: .24rem;
	border-radius: 1px;
	font-size: .1rem;
	margin-right: .05rem;
}
main>ul>li:first-child img{
	width: .6rem;
	height: .6rem;
}
main>ul>li{
	width: 100%;
}
main>ul>li:first-child{
	float: left;
	width: .6rem;
	height: .6rem;
	position: absolute;
	top: .18rem;
	left:.1rem;
}
main>ul>li:last-child{
	padding: 0.15rem 0 0 0.8rem;
}
main>ul>li:last-child>p:first-child .name{
	font-weight: bold;
}
main>ul>li:last-child>p:first-child .icon{
	float: right;
	margin-right: .1rem;
	font-size: .1rem;
	border: 1px solid #ddd;
	border-radius: 1px;
	font-weight: normal;
	color: #999999;
	font-weight: bold;
}
main>ul>li:last-child>p:nth-child(2){
	font-size: .1rem;
	height: .1rem;
	color: #666666;
	margin: .12rem 0;
}
main>ul>li:last-child>p:nth-child(2)>span:nth-child(2){
	color: #f1884f;
}
main>ul>li:last-child>p:nth-child(3)>span:nth-child(2){
	float: right;
}
main>ul>li .three{
	color: #666666;
}
main>ul>li .one{
	color: #aaaacb;
}
main>ul>li .two{
	color:#e2e2ec;
}
main>ul>li .yang{
	color:#4e95ff;
}
main>ul>li:last-child>p:last-child>span:last-child{
	margin-right: .1rem;
}
main>ul>li .icon2{
	color: #e7dde7;
	margin-right: .03rem;
	margin-left: .03rem;
}

/*蜂鸟专送/准时送*/
main>ul>li:last-child>p:nth-child(2)>span:last-child{
	float: right;
	margin-right: 0.1rem;
	border-radius: 1px;
}
main>ul>li:last-child>p:nth-child(2)>span:last-child>span:first-child{
	background: #57A9FF;
	color: #ffffff;
	/*display: inline-block;*/
	height: .15rem;
	width: .45rem;
	border-radius: 3px;
}
main>ul>li:last-child>p:nth-child(2)>span:last-child>span:last-child{
	color: #57A9FF;
	border: 1px solid #57A9FF;
	border-radius: 3px;
}

main>ul>li:last-child>p:last-child{
	font-size: 0.10rem;
	color: #666666;
}
main>ul>li:last-child>p:last-child>span:last-child{
	float: right;
	margin-right: 0.1rem;
}


/*样式*/

.menu1{
	width: 100%;
	height: 2.98rem;
	background: white;
	position: fixed;
	top:.82rem;
	left: 0;
	z-index: 5;
	border-top: 1px solid gainsboro;
	display: none;
}

.menu1>li{
	height: .49rem;
	line-height: .49rem;
	display: flex;
	font-size: .11rem;
	align-items: center;
}
.menu1>li>.span1{
	width: .15rem;
	height: .15rem;
	background-size: .15rem .15rem;
	margin: 0 .15rem;
}
.menu1>.li1>.span1{
	background: url(../img/icon_1.png) no-repeat;
}
.menu1>.li2>.span1{
	background: url(../img/icon_2.png) no-repeat;
}
.menu1>.li3>.span1{
	background: url(../img/icon_3.png) no-repeat;
}
.menu1>.li4>.span1{
	background: url(../img/icon_4.png) no-repeat;
}
.menu1>.li5>.span1{
	background: url(../img/icon_5.png) no-repeat;
}
.menu1>.li6>.span1{
	background: url(../img/icon_6.png) no-repeat;
}
.menu1>li>.span2{
	height: .49rem;
	width: 89%;
	border-bottom: 1px solid gainsboro;
}

.menu2{
	width: 100%;
	height: 2.85rem;
	background: white;
	position: fixed;
	top:.82rem;
	left: 0;
	z-index:5;
	border-top: 1px solid gainsboro;
	display: none;
}
.img3{
	transition: all .3s;
}
.img2{
	transition: all .3s;
}
.imgs{
	transform: rotate(180deg);
	transition: all .3s;
	
}
.imgs2{
	transform: rotate(180deg);
	transition: all .3s;
}
.menu2>.section1{
	font-size: .11rem;
	padding:0 .14rem;
	font-weight: bold;
}
.menu2>.section1>.p1{
	margin-top: .12rem;
}
.menu2>.section1>.p2{
	display: flex;
	height: .3rem;
	line-height: .3rem;
	margin-top: .09rem;
}
.menu2>.section1>.p3{
	margin-top: .23rem;
}
.menu2>.section1>.p4{
	margin-top: .22rem;
}
.menu2>.section1>.p5{
	margin-top: .09rem;
	display: flex;
	flex-wrap: wrap;
	height: .75rem;
	justify-content: space-between;
}
.menu2>.section1>.p2>span{
	width: 1.11rem;
	height: .3rem;
	border: 1px solid lightgray;
	border-radius:3px;
	display: flex;
	align-items: center;
	margin-right: .06rem;
}
.menu2>.section1>.p2>.Dspan2>.span1{
	width: .17rem;
	height: .17rem;
	background: url(../img/icon_7.png) no-repeat;
	margin: 0 .1rem;
}

.menu2>.section2{
	border-top: 1px solid lightgray;
	height: .54rem;
	font-size: .17rem;
	background: #fafafa;
	display: flex;
	align-items: center;
	margin-top: .17rem;
	justify-content: space-around;
}
.menu2>.section2>span{
	width: 1.78rem;
	height: .43rem;
	text-align: center;
	line-height: .43rem;
	border: 1px solid gainsboro;
	border-radius: 2px;
}
.menu2>.section1>.p5>span{
	height: .32rem;
	width: 1.11rem;
	border: 1px solid lightgray;
	border-radius:3px;
	display: flex;
	align-items: center;
}
.menu2>.section1>.p5>.span1,.menu2>.section1>.p5>.span2,.menu2>.section1>.p5>.span3{
	margin-bottom: .06rem;
}
.menu2>.section1>.p5>span>.span1{
	width: .2rem;
	height: .2rem;
	border: 1px solid darkgray;
	border-radius: 2px;
	text-align: center;
	line-height: .2rem;
	margin: 0 .07rem;
}
.only1{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed;
	z-index: 3;
	display: none;
}


/*果蔬*/
.big{
	width: 100%;
	height: 3.88rem;
	font-size: .1rem;
	background: white;
	position: fixed;
	top:.82rem;
	left: 0;
	display: none;
	border-top: 1px solid lightgray;
	z-index: 5;
}
.big>.left{
	width: 47%;
	height: 3.88rem;
	overflow-y: auto;
}
.big>.left>ul{
	background: #f2f2f2;
	height: .5rem;
	line-height: .5rem;
	
}
.big>.left>ul>li{
	position: relative;
}
.big>.left>ul>li>img{
	width: .17rem;
	height: .13rem;
	margin: 0 .09rem;
}
.big>.left>ul>li>.span2{
	height: .13rem;
	line-height: .13rem;
	position: absolute;
	right: .22rem;
	top: .13rem;
	margin-left: .42rem;
	font-size: .08rem;
	background: #e0e0e0;
	color: white;
	border-radius:.03rem;
	padding: .03rem .05rem;
}
.big>.left>ul:first-child>li>.span1{
	margin-right: .30rem;
	margin-left: .09rem;
}
.big>.left>ul>li>.span3{
	width: .06rem;
	height: .1rem;
	position: absolute;
	right: .09rem;
	top: 0;
	color: gray;
	font-weight: bold;
}
.big>.left>ul>li>.right{
	position: fixed;
	top:.82rem;
	right: 0;
	width: 53%;
	height: 3.88rem;
	background: white;
	z-index: 5;
	display: none;
}
.big>.left>ul:nth-of-type(2)>li>.right{
	display: block;
	margin-top: 1px;
}
.big>.left>ul:nth-of-type(2){
	background: white;
}
.big>.left>ul>li>.right>ul{
	height: .5rem;
	padding: 0 .14rem;
}
.big>.left>ul>li>.right>ul>li{
	height: .5rem;
	line-height: .5rem;
	border-bottom: 1px solid lightgray;
	position: relative;
}
.big>.left>ul>li>.right>ul>li>span:nth-of-type(2){
	position: absolute;
	right: .13rem;
}
nav>section>.sanjiao{
	transform: rotate(180deg);
	transition: all .3s;
}
nav>section>.f2{
	color: cornflowerblue;
}
nav>section>.f6{
	color: cornflowerblue;
}

nav>section>.f4{
	color: cornflowerblue;
}

