
<link rel="stylesheet" type="text/css" href="app/view/mine/integralshop/integralshop.css"/>
<link rel="stylesheet" type="text/css" href="app/common/swiper-3.4.0.min.css"/>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="//yun.duiba.com.cn/images/201612/o2vsdb7tkz.png" alt="" /></div>
        <div class="swiper-slide"><img src="//yun.duiba.com.cn/images/201612/gn8kf7pc8l.jpg" alt="" /></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>

<div class="banner">
	<section>
		<span></span>
		<span>积分</span>
		<span>180</span>
	</section>
	<section>
		<span></span>
		<span>兑换记录</span>
		<span></span>
	</section>
</div>

<nav>
	<section>
		<span></span>
		<p>0元兑换</p>
	</section>
	<section>
		<span></span>
		<p>会员共享</p>
	</section>
	<section>
		<span></span>
		<p>领券</p>
	</section>
	<section>
		<span></span>
		<p>数码家电</p>
	</section>
	<section>
		<span></span>
		<p>日常家居</p>
	</section>
	<section>
		<span></span>
		<p>99~599</p>
	</section>
</nav>

<main>
	<p>大家都在兑</p>
	<div>
		<section>
			<p>7元饿了么红包－全品类</p>
			<p><span>2100</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>15元饿了么红包－全品类</p>
			<p><span>4500</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>iPad mini4 </p>
			<p><span>299</span>积分<span>抽奖</span></p>
			<span></span>
		</section>
		<section>
			<p>惊喜大奖砸出来</p>
			<p><span>99</span>积分<span>抽奖</span></p>
			<span></span>
		</section>
		<section>
			<p>百草味送吃货们的福利</p>
			<p><span>99</span>积分<span>抽奖</span></p>
			<span></span>
		</section>
		<section>
			<p>小米智能手环</p>
			<p><span>99</span>积分<span>抽奖</span></p>
			<span></span>
		</section>
		<section>
			<p>玫瑰滋养矿物洁面乳</p>
			<p><span>4万</span>积分<span>会员专享</span></p>
			<span></span>
		</section>
		<section>
			<p>红石榴矿物洁面乳</p>
			<p><span>3.9万</span>积分<span>会员专享</span></p>
			<span></span>
		</section>
		<section>
			<p>御泥坊黑玫瑰泥浆面膜</p>
			<p><span>9.9万</span>积分<span>会员专享</span></p>
			<span></span>
		</section>
		<section>
			<p>御泥坊薰衣草睡眠面膜</p>
			<p><span>8.9万</span>积分<span>会员专享</span></p>
			<span></span>
		</section>
		<section>
			<p>滑稽懒人披肩</p>
			<p><span>5.6万</span>积分<span>会员专享</span></p>
			<span></span>
		</section>
		<section>
			<p>虾米音乐21天VIP免费领取</p>
			<p><span>299</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>优酷黄金月卡8元抵用券</p>
			<p><span>299</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>优酷黄金季卡24元抵用券</p>
			<p><span>299</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>飞科电吹风</p>
			<p><span>299</span>积分<span>+39.9元</span></p>
			<span></span>
		</section>
		<section>
			<p>手机屏幕3D放大器</p>
			<p><span>199</span>积分<span>+16元</span></p>
			<span></span>
		</section>
		<section>
			<p>Vrbox3D智能魔镜二代</p>
			<p><span>199</span>积分<span>+39元</span></p>
			<span></span>
		</section>
		<section>
			<p>五双秋冬款中筒棉袜</p>
			<p><span>99</span>积分<span>+18元</span></p>
			<span></span>
		</section>
		<section>
			<p>5双装英伦风船袜</p>
			<p><span>199</span>积分<span>+18元</span></p>
			<span></span>
		</section>
		<section>
			<p>卡通手捂抱枕被子两用靠垫被</p>
			<p><span>99</span>积分<span>+28元</span></p>
			<span></span>
		</section>
		<section>
			<p>黑胶折叠三折小黑伞</p>
			<p><span>199</span>积分<span>+28元</span></p>
			<span></span>
		</section>
		<section>
			<p>全自动折叠伞自开自收</p>
			<p><span>99</span>积分<span>+28元</span></p>
			<span></span>
		</section>
		<section>
			<p>创意抱枕被子两用靠垫</p>
			<p><span>99</span>积分<span>+26元</span></p>
			<span></span>
		</section>
		<section>
			<p>藤编收纳筐脏衣篮四号</p>
			<p><span>99</span>积分<span>+39.9元</span></p>
			<span></span>
		</section>
		<section>
			<p>蜂胶嫩肤滋养面膜5片装加赠洗面奶</p>
			<p><span>99</span>积分<span>+16.8元</span></p>
			<span></span>
		</section>
		<section>
			<p>马卡龙随身保温杯</p>
			<p><span>299</span>积分<span>+29元</span></p>
			<span></span>
		</section>
		<section>
			<p>西班牙DO级珍酿红酒</p>
			<p><span>299</span>积分<span>+19.9元</span></p>
			<span></span>
		</section>
		<section>
			<p>飞科毛球修剪器</p>
			<p><span>299</span>积分<span>+28元</span></p>
			<span></span>
		</section>
		<section>
			<p>优酷黄金半年卡48元抵用券</p>
			<p><span>399</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>优酷黄金年卡49元抵用券</p>
			<p><span>499</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>1号店10元优惠券</p>
			<p><span>1000</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>飞科智能水洗剃须刀</p>
			<p><span>299</span>积分<span>+106元</span></p>
			<span></span>
		</section>
		<section>
			<p>中邦打火机</p>
			<p><span>99</span>积分<span>+29.8元</span></p>
			<span></span>
		</section>
		<section>
			<p>瑞士军刀14.6英寸电脑旅行包</p>
			<p><span>399</span>积分<span>+79元</span></p>
			<span></span>
		</section>
		<section>
			<p>无线蓝牙音响可通话</p>
			<p><span>199</span>积分<span>+69.9元</span></p>
			<span></span>
		</section>
		<section>
			<p>超强吸水浴巾赠毛巾</p>
			<p><span>299</span>积分<span>+29元</span></p>
			<span></span>
		</section>
		<section>
			<p>LED空气净化加湿器</p>
			<p><span>199</span>积分<span>+39.9元</span></p>
			<span></span>
		</section>
		<section>
			<p>SWISSGEAR户外轻薄双肩包</p>
			<p><span>299</span>积分<span>+49元</span></p>
			<span></span>
		</section>
		<section>
			<p>卓凡尼华伦天奴8700男女石英表</p>
			<p><span>399</span>积分<span>+299元</span></p>
			<span></span>
		</section>
		<section>
			<p>百雀羚男士护肤套装</p>
			<p><span>199</span>积分<span>+39元</span></p>
			<span></span>
		</section>
		<section>
			<p>乐视会员月卡8元抵用券</p>
			<p><span>599</span>积分</p>
			<span></span>
		</section>
		<section>
			<p>百雀羚护肤乳精华霜</p>
			<p><span>199</span>积分<span>+49元</span></p>
			<span></span>
		</section>
		<section>
			<p>天然黑曜石手链男女情侣款手链</p>
			<p><span>99</span>积分<span>+19元</span></p>
			<span></span>
		</section>
		<section>
			<p>天然黑曜石貔貅吊坠</p>
			<p><span>99</span>积分<span>+22元</span></p>
			<span></span>
		</section>
		<section>
			<p>沉香木108佛珠手串</p>
			<p><span>299</span>积分<span>+19元</span></p>
			<span></span>
		</section>
		<section>
			<p>洋甘菊沁润补水面膜10片</p>
			<p><span>199</span>积分<span>+19.9元</span></p>
			<span></span>
		</section>
		<section>
			<p>飞科挂烫机</p>
			<p><span>299</span>积分<span>+165元</span></p>
			<span></span>
		</section>
		<section>
			<p>《外公芳龄38》手机壳</p>
			<p><span>6万</span>积分<span>兑完</span></p>
			<span></span>
		</section>
	</div>
</main>

















