*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
html{
	font-size: 100px;
}
body{
	background: #f4f4f4;
}
header{
	width: 100%;
	height: 0.44rem;
	background: #3190e8;
	font-size: 0.17rem;
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	border-bottom: 1px solid #79b5ec;
}
header a span{
	display: inline-block;
	line-height: 0.44rem;
	position: absolute;
	top: 0;
	left: 0.18rem;
	transform: scaleY(2);
	color: #ffffff;
}
header div{
	text-align: center;
	line-height: 0.44rem;
}

.banner{
	margin-top: 0.44rem;
	margin-left: 0.15rem;
	height: 0.38rem;
	line-height: 0.38rem;
	font-size: 0.12rem;
	color: #666666;
}
.banner span{
	font-size: 0.1rem;
	color: #333333;
	font-weight: bold;
}


.main1{
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #FFFFFF;
}
.main1>p{
	height: 0.44rem;
	line-height: 0.44rem;
	margin-left: 0.15rem;
	font-size: 0.15rem;
	color: #333333;
}
.main1>p>span{
	font-size: 0.12rem;
	color: #999999;
	float: right;
	margin-right: 0.15rem;
}
.main1>ul>li{
	height: 0.85rem;
	border-top: 1px solid #eeeeee;
	margin-left: 0.15rem;
	position: relative;
}
.main1>ul>li>span{
	display: inline-block;
	height: 0.4rem;
	width: 0.35rem;
	position: absolute;
	top: 0.23rem;
	left: 0;
}
.main1>ul>li:first-child>span{
	background: url(https://fuss10.elemecdn.com/7/ac/73278691b49f4c4e91f8f9c26da72jpeg.jpeg?imageMogr/format/webp/thumbnail/!70x80r/gravity/Center/crop/70x80/);
	background-size: contain;
}
.main1>ul>li:nth-child(2)>span{
	background: url(https://fuss10.elemecdn.com/5/43/fe96e0f77180804a5be4098033bf2jpeg.jpeg?imageMogr/format/webp/thumbnail/!70x80r/gravity/Center/crop/70x80/);
	background-size: contain;
}
.main1>ul>li:last-child>span{
	background: url(https://fuss10.elemecdn.com/5/5e/5b96851e7370a02e990949877e70ajpeg.jpeg?imageMogr/format/webp/thumbnail/!70x80r/gravity/Center/crop/70x80/);
	background-size: contain;
}
.main1>ul>li>div{
	margin-left: 0.45rem;
}
.main1>ul>li>div>p:first-child{
	font-size: 0.13rem;
	color: #333333;
	margin-top: 0.2rem;
}
.main1>ul>li>div>p:nth-child(2){
	font-size: 0.11rem;
	color: #999999;
	margin-top: 0.05rem;
}
.main1>ul>li>div>p:nth-child(3){
	font-size: 0.11rem;
	color: #999999;
	margin-top: 0.01rem;
}
.main1>ul>li:last-child>div>p:first-child{
	color: #999999;
}

.main2{
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #FFFFFF;
	margin-top: 0.1rem;
}
.main2>p:first-child{
	height: 0.44rem;
	line-height: 0.44rem;
	margin-left: 0.15rem;
	font-size: 0.15rem;
	color: #333333;
}
.main2>p:last-child{
	height: 0.64rem;
	line-height: 0.64rem;
	margin-left: 0.15rem;
	border-top: 1px solid #eeeeee;
	font-size: 0.15rem;
	color: #333333;
}
.main2>p:last-child>span:first-child{
	color: #ff6000;
	font-size: 0.12rem;
	font-weight: bold;
}
.main2>p:last-child>span:last-child{
	color: #ff6000;
	font-size: 0.12rem;
	display: inline-block;
	width: 0.64rem;
	height: 0.27rem;
	line-height: 0.27rem;
	text-align: center;
	border: 1px solid #ff6000;
	border-radius: 3px;
	float: right;
	margin-right: 0.15rem;
	margin-top: 0.19rem;
}

.main3{
	margin-top: 0.1rem;
	border-top: 1px solid #eeeeee;
	background: #FFFFFF;
	height: 0.44rem;
	line-height: 0.44rem;
	font-size: 0.14rem;
	color: #333333;
	padding-left: 0.15rem;
}
.main3 span{
	font-size: 0.12rem;
	color: #999999;
	float: right;
	margin-right: 0.15rem;
}



