<link rel="stylesheet" type="text/css" href="app/view/shoppingcart/shoppingcart.css"/>
<header>
	<a ui-sref="back3"><span><</span></a>
	<span>确认订单</span>
	<span>立即登录</span>
</header>
<nav>
	<span></span>
	<a ui-sref="adress"><span>请求添加一个收货地址</span></a>
	<span>></span>
</nav>
<div class="time">
	<span>送达时间</span>
	<span>尽快送达</span>
	<span>|</span>
	<span>预计15:28</span>
	<span>></span>
</div>
<div class="buyway">
	<ul>
		<li ng-click="comeIn()"><span>支付方式</span><span>在线支付</span><span>></span></li>
		<li><span>红包</span><span>暂时只在饿了么APP中支持</span><span>></span></li>
	</ul>
</div>
<main>
	<ul ng-repeat="i in arr">
		<li>
			<span></span>
			<span>{{i.storename}}</span>
		</li>
		<li>
			<span>{{i.name}}</span>
			<span>x{{i.count}}</span>
			<span>￥{{i.specfoods[0].price*i.count}}</span>
		</li>
		<li>
			<span>订单￥{{i.specfoods[0].price*i.count}}</span>
			<span>待支付￥{{i.specfoods[0].price*i.count}}</span>
		</li>
	</ul>
	
</main>
<footer>
	<ul>
		<li>
			<span>订单备注</span>
			<span>口味、偏好等</span>
			<span>></span>
		</li>
		<li>
			<span>发票抬头</span>
			<span>商家不支持开发票</span>
		</li>
	</ul>
</footer>
<div class="bottom">
	<span>优惠说明</span>
	<span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAMAAABgOjJdAAAAYFBMVEUAAAC5ubmampqZmZmampqampqampqampqZmZmampqbm5ubm5uampqZmZmfn5+ZmZmZmZmampqenp6ampqampqbm5uampqampqampqampqampqZmZmbm5uZmZmampqZmZmUkPtTAAAAH3RSTlMABLPVTWPH+ufNaxzXkQyZinQmp4Yw811DrpoeGII1OyavHwAAASdJREFUOMuFVNuygzAIRNAk3q+995z9/7/s1DRBbWeyT8LAQhaQNphGLp11JY8T/UBWCCDcLz2/P4rsGJALTFV/jLoykHxPMKDZe/IGw4amY7RH1qwFd9FgW9A3CsshbYAG7EIwfEqipd9oka81pNEentfq8q+9NJKtXHn0LBYAzCm+aK0vJubcAGcs4J7BY4RoQqUZ70d3f8A9uCpMNKIO5gzbvdU5owyuGiOxUEAJ46nhok+YSo7W6fRY8yy0NS7J9Ue5Z+ASrd6RXb4DbirQYr84ZuCe0YbD96G4AHM0fB8sB4pzt7WFvR6KBp5T9fCaKq5XPxTV1M9F8ch3RYzsZ6tq6WzDfqgL52y3H2HHVC9XHXYsvafpXU/fS/rm0nebvv30/+MF8jcSdoSj17gAAAAASUVORK5CYII="/></span>
</div>
<div class="pay">
		<div>
			<span>待支付</span>
			￥<span></span>
		</div>
		<div ng-click="alertt()">
			<span>确认下单</span>
		</div>
</div>
<div class="slide" ng-click="hid()">
	<div>
		<p>支付方式</p>
		<ul>
			<li>
				<span>在线支付</span>
				<span></span>
			</li>
			<li>
				<span>货到付款</span>
				<span>（商家不支持货到付款）</span>
			</li>
		</ul>
	</div>
</div>