
<link rel="stylesheet" type="text/css" href="app/view/mine/servicecenter/servicecenter.css"/>

<header>
	<a ui-sref="back1"><span><</span></a>
	<div>服务中心</div>
</header>

<div class="banner">
	<div></div>
</div>

<nav>
	<section>
		<span></span>
		<p>在线客服</p>
	</section>
	<section>
		<span></span>
		<p>客服热线</p>
	</section>
</nav>

<div class="title">
	热门问题
</div>

<main>
	<ul>
		<li>准时达问题<span>></span></li>
		<li>支付问题<span>></span></li>
		<li>余额问题<span>></span></li>
		<li>红包问题<span>></span></li>
		<li>积分问题<span>></span></li>
		<li>会员问题<span>></span></li>
		<li>活动问题<span>></span></li>
		<li>其他问题<span>></span></li>
	</ul>
</main>
