@charset "utf-8";
html{
	font-size: 100px;
}
body{
	width: 100%;
	box-sizing:border-box;
	background: #d9d9d9;
	/*overflow: hidden;*/
}
.muchmoneyPage{
	width: 100%;
}

.header{
	width: 100%;
	height: .43rem;
	background: #3190e8;
	text-align: center;
	line-height: .43rem;
	font-size: .17rem;
	color: white;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
.header>a{
	float: left;
	margin-left: .17rem;
	margin-top: .17rem;
	display: block;
	width: .08rem;
	height: .12rem;
	text-align: center;
	line-height: .12rem;
}
.header>a>img{
	width: 100%;
	height: 100%；
}
.nav{
	width: 100%;
	height: .39rem;
	display: flex;
	align-items: center;
	margin-bottom: .01rem;
	position: fixed;
	top: .43rem;
	left: 0;
	z-index: 3;
	background: white;
}
.nav>a{
	height: .21rem;
	font-size: .12rem;
	color: #c5c5c5;
	flex:1;
	text-align: center;
	line-height:.21rem; 
}
.nav>a:nth-of-type(2){
	border-left:1px solid #c5c5c5;
	border-right:1px solid #c5c5c5;
}
.nav>a>img{
	margin-left: .05rem;
	transition: all .3s;
}
.nav>a>.sanjiao{
	transform: rotate(180deg);
	transition: all .3s;
}
.nav>a>.font{
	color: deepskyblue;
}
.nav>a>.sanjiao1{
	transform: rotate(180deg);
	transition: all .3s;
}
.nav>a>.font1{
	color: deepskyblue;
}
.main{
	width: 100%;
	margin-top: .82rem;
}
.main>.shop{
	width: 100%;
	height: .89rem;
	display: flex;
	background: white;
	margin-bottom: 1px;
	padding-left:  .09rem;
	padding-right: .09rem;
}
.main>.shop>.left{
	margin-top: .15rem;
	width: .6rem;
	height: .52rem;
	display: flex;
	margin-right: .09rem;
}
.main>.shop>.right{
	width: 76%;
	height: .58rem;
	margin-top: .13rem;
}
.main>.shop>.right>.p1{
	display: flex;
	position: relative;
	height: .19rem;
	line-height: .19rem;
}
.main>.shop>.right>.p1>.span1{
	font-size: .1rem;
	width: .27rem;
	height: .14rem;
	text-align: center;
	line-height: .14rem;
	border-radius:1px;
	background: orange;
	margin-right: .06rem;
	text-align: center;
	line-height: .13rem;
}
.main>.shop>.right>.p1>.span2{
	font-size: .13rem;
	font-weight: bold;
	width: 35%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main>.shop>.right>.p2{
	display: flex;
	height: .19rem;
	line-height: .19rem;
	position: relative;
}
.main>.shop>.right>.p2>.span1{
	color: orangered;
	font-size: .08rem;
	margin-right: .06rem;
}
.main>.shop>.right>.p2>.span2{
	color: gray;
	font-size: .1rem;
}
.main>.shop>.right>.p2>.span3{
	width: .55rem;
	height: .15rem;
	background: url(../img/star1.png) no-repeat;
	margin-right: .05rem;
}
.main>.shop>.right>.p3{
	display: flex;
	font-size: .1rem;
	color: gray;
	height: .19rem;
	line-height: .19rem;
	position: relative;
}
.main>.shop>.right>.p1>.aa{
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
}
.main>.shop>.right>.p1>.aa>.span1,.main>.shop>.right>.p1>.aa>.span2{
	display: block;
	width: .15rem;
	height: .14rem;
	border: 1px solid lightgray;
	border-radius: 3px;
	font-size: .1rem;
	color: gray;
	text-align: center;
	line-height: .14rem;
}
.main>.shop>.right>.p1>.aa>.span2{
	margin-left: .02rem;
}
.main>.shop>.right>.p2>.aa{
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: .1rem;
}
.main>.shop>.right>.p2>.aa>.span1{
	height: .13rem;
	border: 1px solid deepskyblue;
	border-radius: 3px;
	background: deepskyblue;
	color: white;
	margin-right: .02rem;
	text-align: center;
	line-height: .13rem;
}
.main>.shop>.right>.p2>.aa>.span2{
	height: .13rem;
	border: 1px solid deepskyblue;
	border-radius: 3px;
	color: deepskyblue;
	text-align: center;
	line-height: .13rem;
}
.main>.shop>.right>.p3>.aa{
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: .1rem;
}
.main>.shop>.right>.p3>.aa>.span3{
	color: deepskyblue;
}
.main>.shop>.right>.p3>.aa>.span1{
	color: darkgray;
}
.shadow1{
	width: 100%;
	height: .43rem;
	background: rgba(185,185,185,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	display: none;
}
.shadow2{
	width: 100%;
	height: 5.85rem;
	background: rgba(185,185,185,0.5);
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 5;
	display: none;
}
.menu1{
	width: 100%;
	height: 2.98rem;
	background: white;
	position: fixed;
	top:.82rem;
	left: 0;
	z-index: 10;
	border-top: 1px solid gainsboro;
	display: none;
}
.menu1>li{
	height: .49rem;
	line-height: .49rem;
	display: flex;
	font-size: .11rem;
	align-items: center;
}
.menu1>li>.span1{
	width: .15rem;
	height: .15rem;
	background-size: .15rem .15rem;
	margin: 0 .15rem;
}
.menu1>.li1>.span1{
	background: url(app/view/home/muchmoney/img/icon_1.png) no-repeat;
}
.menu1>.li2>.span1{
	background: url(app/view/home/muchmoney/img/icon_2.png) no-repeat;
}
.menu1>.li3>.span1{
	background: url(app/view/home/muchmoney/img/icon_3.png) no-repeat;
}
.menu1>.li4>.span1{
	background: url(app/view/home/muchmoney/img/icon_4.png) no-repeat;
}
.menu1>.li5>.span1{
	background: url(app/view/home/muchmoney/img/icon_5.png) no-repeat;
}
.menu1>.li6>.span1{
	background: url(app/view/home/muchmoney/img/icon_6.png) no-repeat;
}
.menu1>li>.span2{
	height: .49rem;
	width: 89%;
	border-bottom: 1px solid gainsboro;
}
.menu2{
	width: 100%;
	height: 2.85rem;
	background: white;
	position: fixed;
	top:.82rem;
	left: 0;
	z-index: 10;
	border-top: 1px solid gainsboro;
	display: none;
	font-weight: bold;
}
.menu2>.section1{
	font-size: .11rem;
	padding: 0 .14rem;
	font-weight: bold;
	
}
.menu2>.section1>.p1{
	margin-top: .12rem;
}
.menu2>.section1>.p2{
	display: flex;
	height: .3rem;
	line-height: .3rem;
	margin-top: .09rem;
}
.menu2>.section1>.p3{
	margin-top: .23rem;
}
.menu2>.section1>.p4{
	margin-top: .22rem;
}
.menu2>.section1>.p5{
	margin-top: .09rem;
	display: flex;
	flex-wrap: wrap;
	height: .75rem;
	justify-content: space-between;
}
.menu2>.section1>.p2>span{
	width: 1.11rem;
	height: .3rem;
	border: 1px solid lightgray;
	border-radius:3px;
	display: flex;
	align-items: center;
	margin-right: .06rem;
}
.menu2>.section1>.p2>.Dspan2>.span1{
	width: .17rem;
	height: .17rem;
	background: url(../img/icon_7.png) no-repeat;
	margin: 0 .1rem;
}

.menu2>.section2{
	border-top: 1px solid lightgray;
	height: .54rem;
	font-size: .17rem;
	background: #fafafa;
	display: flex;
	align-items: center;
	margin-top: .17rem;
	justify-content: space-around;
}
.menu2>.section2>span{
	width: 1.78rem;
	height: .43rem;
	text-align: center;
	line-height: .43rem;
	border: 1px solid gainsboro;
	border-radius: 2px;
}
.menu2>.section2>span:nth-of-type(2){
	background: limegreen;
}
.menu2>.section1>.p5>span{
	height: .32rem;
	width: 1.11rem;
	border: 1px solid lightgray;
	border-radius:3px;
	display: flex;
	align-items: center;
}
.menu2>.section1>.p5>.span1,.menu2>.section1>.p5>.span2,.menu2>.section1>.p5>.span3{
	margin-bottom: .06rem;
}
.menu2>.section1>.p5>span>.span1{
	width: .2rem;
	height: .2rem;
	border: 1px solid darkgray;
	border-radius: 2px;
	text-align: center;
	line-height: .2rem;
	margin: 0 .07rem;
}

