
<link rel="stylesheet" type="text/css" href="app/view/mine/mypreferential/mypreferential.css"/>

<header>
	<a ui-sref="back1"><span><</span></a>
	<div>我的优惠</div>
</header>

<nav>
	<section ng-click="change1()">
		<a href="" class="nav">红包</a>
	</section>
	<section ng-click="change2()">
		<a href="">商家代金券</a>
	</section>
</nav>

<div class="div1">
	<p><span><span>?</span>红包说明</span></p>
	<div>
		<div></div>
	</div>
	<p>没有红包</p>
	<p>快去抢几个吧</p>
	<p><a href="">查看历史红包</a></p>
	<div>
		<section>兑换红包</section>
		<section>推荐有奖</section>
	</div>
</div>

<div class="div2">
	<p><span><span>?</span>商家代金券说明</span></p>
	<div></div>
	<p>无法使用代金券</p>
	<p>非客户端或客户端版本过低</p>
	<div>下载或升级客户端</div>
</div>






